* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Header {
    width: 100%;
    height: 80px;
    background-color: grey;
    color: azure;
    font-family: Arial, Helvetica, sans-serif;
    /* text-align: center;
    line-height: 100px;
     
      */
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    position: sticky;
    top: 0;
}

#logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid white;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    transition: 0.5s;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    transition: 0.5s;
}

nav ul li a:hover {
    background-color: black;
}

#logo:hover {
    background-color: yellow;
    color: red;
}

.banner {
    width: 100%;
    height: 100vh;
    margin-top: 20px;
    /* background-color: rgb(77, 121, 121); */
    color: azure;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 100vh;
    background: linear-gradient(to left, rgb(202, 90, 109), rgb(131, 115, 115), rgb(24, 160, 201));

}

#sec-1 {
    display: flex;
    justify-content: space-evenly;
}

#sec-1 .circles {
    width: 240px;
    height: 240px;
    background-color: rgb(184, 11, 98);
    /* display: inline-block; */
    border-radius: 50%;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    /* box-shadow: 30px rgb(197, 119, 132); */
    box-shadow: 10px 10px 35px rgb(218, 13, 139);
}

h2 {
    text-align: center;
    margin-top: 20px;
    font-size: 28px;
}

#sec-2 {
    display: flex;
}

#sec-2 main {
    width: 45%;
    height: 500px;
    background-color: rgb(9, 105, 105);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-right: 20px;
    color: aliceblue;
    font-size: larger;
    font-weight: bolder;
}

/* aside{
    width: 50%;
    height: 500px;
    border: 2px solid;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
} */

#sec-2 aside .art {
    margin-top: 25px;
    margin-left: 50px;
    width: 700px;
    height: 150px;
    background-color: orangered;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(254, 255, 255);
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: larger;
}

#sec-3 {
    display: flex;
    justify-content: space-evenly;
}

#sec-3 .Box {
    width: 20%;
    height: 250px;
    background-color: rgb(187, 126, 185);
    display: inline-block;
    margin: 25px;
    justify-content: space-evenly;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: 10px 10px 35px rgb(160, 134, 160);
    transition: 1s;
}

footer {
    width: 100%;
    height: 80px;
    background-color: rgb(6, 173, 173);
    /* background-image: linear-gradient(yellow pink
    blue
    ); */
    color: rgb(254, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: larger;

}

#sec-3 .Box:hover {
    background-color: rgb(202, 90, 109);
    border: 2px solid rgb(116, 60, 60);
    box-shadow: 10px 10px 35px rgb(124, 74, 124);
    transform: 10px;
}

.fa-info-circle {
    color: blue;
    font-size: 50px;
    position: fixed;
    top: 400px;
    right: 20px;
}